/****** BASE ******/
body {
    background-color: #080a12;
    background-image: linear-gradient(to bottom, #010102, #0b0f1c);
    font-family: "Rajdhani", sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

p {
    font-family: "Pathway Extreme", sans-serif;
    font-size: 1.1rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

.button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 2px solid #5CE4FF;
    border-radius: 8px;
    font-size: 1.3rem;
    min-width: 160px;
    margin-bottom: 1rem;
}

.button:hover {
    border: 2px solid white;
}

main {
    min-height: 50vh;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.field-validation-error,
.validation-summary-errors {
    color: #fb6a6a;
}

.validation-summary-errors::before {
  content: "⚠️ Error summary:";
  font-weight: bold;
  display: block;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: white;
}



/****** HEADER ******/
header {
    background-image: linear-gradient(to bottom, rgba(4, 5, 12, 0.7), transparent), url('/Images/index-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12vh;
}

header > img {
    width: 100px;
}

.page-heading {
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 500;
}



/****** NAVBAR ******/
nav.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.6% 4%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    display: flex;
}

nav .nav-links a {
    color: #5CE4FF;
    text-shadow: 0 0 10px black;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2rem;
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 500;
}

nav .nav-links a:hover {
    color: white;
}

nav .navbar-brand img {
    width: 32px;
}

nav .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .nav-item img {
    width: 24px;
    padding-bottom: 4px;
    margin-right: 0.5rem;
}

.signed-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    padding-left: 1rem;
    border-left: 2px solid #1d3144;
}

.signed-in-heading {
    color: #5CE4FF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.signed-in-heading, .signed-in-user {
    margin: 0;
}



/****** LANDING PAGE ******/
.index-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.index-card {
    width: 23%;
    background-color: #111321;
    border-radius: 8px;
    box-shadow: 0px 0px 27px 0px rgb(0 0 0 / 70%);
    transition: box-shadow 0.2s, background-color 0.2s;
    margin-bottom: 4%;
}

.index-card:hover {
    background-color: #151a2f;
}

.index-card h2 {
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 400;
    padding: 0.8rem;
    text-align: center;
    color: #5CE4FF;
}

.index-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
}



/****** DETAILS PAGE ******/
.spaceship-details-container {
    display: flex;
    background-color: #111321;
    border-radius: 8px;
}

.spaceship-details-container img {
    border-radius: 8px 0 0 8px;
    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;
}

.text-container {
    width: 50%;
    padding: 2% 4%;
}

.text-container p {
    font-family: "Pathway Extreme", sans-serif;
/*    font-size: 1.1rem;*/
    color: #8b8bab;
}

.spaceship-details div {
    margin-bottom: 2rem;
}

.spaceship-details-header {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid #080b10;
    display: flex;
    align-items: center;
}

.back-link {
    font-family: "Pathway Extreme", sans-serif;
    color: #5CE4FF;
    font-size: 2rem;
    padding-bottom: 6px;
    margin-right: 1rem;
}

.spaceship-details-header h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}




/****** CREATE PAGE ******/
.create-container {
    display: flex;
    background-color: #111321;
    border-radius: 8px;
}

.create-container img {
    border-radius: 8px 0 0 8px;
    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;
}

.input-group {
    display: flex;
    flex-direction: column;
    min-height: 120px;
}

.input-group.input-group-textarea {
    margin-bottom: 2rem;
}

.input-group label {
    font-size: 1.5rem;
}

textarea,
input:not([type="radio"]):not([type="checkbox"]),
input:not([type="radio"]):not([type="checkbox"]):-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:not([type="radio"]):not([type="checkbox"]):-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover,
input:not([type="radio"]):not([type="checkbox"]):-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
    background-color: #090b12 !important;
    border: 2px solid #272b45;
    border-radius: 8px;
    padding: 0.5rem;
    color: white;
    font-size: 1.1rem;
    font-family: "Pathway Extreme", sans-serif;
    -webkit-box-shadow: 0 0 0px 1000px #090b12 inset !important;
    box-shadow: 0 0 0px 1000px #090b12 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    resize: vertical;
}

.radio-buttons label {
    font-family: "Pathway Extreme", sans-serif;
    font-size: 1.1rem;
    color: #5CE4FF;
    margin-right: 1rem;
}



/****** LOGIN PAGE ******/
.login-form {
    width: 500px;
    background-color: #111321;
    padding: 2% 4%;
    border-radius: 8px;
    margin: 0 auto;
}



/****** FOOTER ******/
footer {
    background-color: #07080e;
    padding: 2% 0;
    margin-top: 8%;
}

footer p {
    color: #8b8bab;
    font-size: 1.1rem;
    text-align: center;
}