@model AdminsVM

@{
    ViewBag.Title = "Administrator";
}

@if (User.Identity!.IsAuthenticated)
{
    <div class="welcome-container">
        <h2>Welcome @Model.FirstName!</h2>
        @if (Model.IsAdmin)
        {
            <p>✨ Administrator ✨</p>
        }

        <h3>User Email</h3>
        <p>@Model.Email</p>
        <h3>Full Name</h3>
        <p>@Model.FirstName @Model.LastName</p>

    </div>
}
else
{
    <p>You are not signed in.</p>
}