@model LoginVM
@{
    ViewBag.Title = "Sign In";
    ViewBag.MainClass = "main-login";
}

<form asp-controller="Account" asp-action="Login" class="login-form">
    <div class="input-group">
        <label asp-for="UserEmail"></label>
        <input asp-for="UserEmail" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
        

    <div class="input-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    

    <button type="submit" class="button">Sign In</button>
    <div asp-validation-summary="All"></div>
</form>

@section Scripts {
    <script src="~/Scripts/changeBodyClass.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="~/scripts/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="$.validator">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="$.validator.unobtrusive">
    </script>
}