@model LoginVM

@{
    ViewBag.Title = "Sign In";
    ViewBag.MainClass = "main-login";
}

<div class="login-form">
    <form asp-controller="Account" asp-action="Login">
        <div class="input-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="input-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit" class="button">Sign In</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>

