
@{
    ViewData["Title"] = "Members";
}
@if(User.Identity!.IsAuthenticated)
{
    <p>
        Welcome <strong>@User.Identity!.Name</strong>!
    </p>
}
@* else
{
    <p>Your are not logged....</p>
} *@



