
@{
    ViewData["Title"] = "Members";
}
@if(User.Identity!.IsAuthenticated)
{
        <h2>Welcome, <strong>@User.FindFirst("FirstName")?.Value!</strong></h2>
}
else
{
    <p>Your are not logged....</p>
}



