@model RegisterVM

@{
    ViewBag.Title = "Register User";
    ViewBag.MainClass = "main-register";
    var detailsHeading = "User Details";
}

<div class="create-container">
    <img src="/Images/astronaut.jpg" alt="Astronaut in space" />

    <div class="text-container">
        @await Html.PartialAsync("_DetailsHeader", detailsHeading)

        <form asp-controller="Account" asp-action="Register" class="create-form" id="registerForm">
            <div class="input-group">  
                <label asp-for="FirstName"></label>  
                <input asp-for="FirstName" class="form-field"/>  
                <span asp-validation-for="FirstName" class="text-danger"></span>  
            </div>  
    
            <div class="input-group">  
                <label asp-for="LastName"></label>  
                <input asp-for="LastName" class="form-field"/>  
                <span asp-validation-for="LastName" class="text-danger"></span>  
            </div>  
    
            <div class="input-group">  
                <label asp-for="Email"></label>  
                <input asp-for="Email" class="form-field"/>  
                <span asp-validation-for="Email" class="text-danger"></span>  
            </div>  
    
            <div class="input-group">  
                <label asp-for="Password"></label>  
                <input asp-for="Password" class="form-field"/>  
                <span asp-validation-for="Password" class="text-danger"></span>  
            </div>  
    
            <div class="input-group">  
                <label asp-for="PasswordRepeat"></label>  
                <input asp-for="PasswordRepeat" class="form-field" />  
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>  
            </div>  
    
            <div class="input-group input-group-checkbox">  
                <input type="checkbox" asp-for="IsAdmin" id="isAdminCheckbox" />
                <label asp-for="IsAdmin"></label>  
                <span asp-validation-for="IsAdmin" class="text-danger"></span>  
            </div>

            <button type="submit" class="button">Register</button> 
            <div asp-validation-summary="All"></div>  
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ScriptsSection")
}